<%=form_for(@article) do |a| %>

<p>
  <%= a.label :title %> <br/>
  <%= a.text_field :title %>
</p>
<p>
  <%= a.label :content %> <br/>
  <%= a.text_field :content %>
</p>
<p>
  <%= a.submit %>
</p>
<% end %>
